################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hamalba.csproj.user
/.vs/hamalba
/bin/Debug/net9.0
/obj
