<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HamalBa</title>
    <link rel="icon" type="image/svg+xml" href="~/images/hblogo.svg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/hamalba.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        .footer-links a {
            margin-left: 1rem;
            color: white;
            text-decoration: none;
        }

            .footer-links a:first-child {
                margin-left: 0;
            }

        .social-icons a {
            margin-left: 0.5rem;
            color: white;
            font-size: 1.2rem;
        }

            .social-icons a:first-child {
                margin-left: 0;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/hblogo.svg" alt="hamalba logo" style="height: 40px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Kontakt" asp-action="Kontakt">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Analitika" asp-action="Index">Analitika</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Views" asp-controller="Oglasi" asp-action="SviOglasi">Oglasi</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="Log">Log</a>
                            </li>
                        }

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-secondary ms-2" asp-area="Identity" asp-page="/Account/Login">Prijava</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary ms-2" asp-area="Identity" asp-page="/Account/Register">Registracija</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                @{
                                    if (User.Identity?.IsAuthenticated ?? false)
                                    {
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                            <button type="submit" class="btn btn-primary ms-2">Odjava</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <p>You have successfully logged out of the application.</p>
                                    }
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="flex-grow-1">
        <div class="container-fluid px-0">
            @RenderBody()
        </div>
    </main>

    <footer class="text-white pt-5 pb-3 bg-dark">
        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-start">
            <!-- Lijeva strana: logo, naziv i copyright -->
            <div class="footer-brand text-center text-md-start mb-4 mb-md-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start mb-2">
                    <img src="/images/hblogo.svg" alt="Logo" width="40" height="40" class="me-2">
                    <span class="fw-bold">HamalBa</span>
                </div>
                <small class="text-white-50 text-center">© 2025</small>
            </div>

            <!-- Desna strana: linkovi i ikonice -->
            <div class="d-flex flex-column align-items-start align-items-md-end text-start text-md-end">
                <div class="footer-links mb-3">
                    <a href="#">Kontakt</a>
                    <a href="#">Github</a>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy policy</a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- skripte -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            var toastMessage = '@TempData["ToastMessage"]';
            var toastType = '@TempData["ToastType"]';
            if (toastMessage) {
                if (toastType === "success") {
                    toastr.success(toastMessage);
                } else if (toastType === "error") {
                    toastr.error(toastMessage);
                } else if (toastType === "info") {
                    toastr.info(toastMessage);
                } else if (toastType === "warning") {
                    toastr.warning(toastMessage);
                }
            }
        });
    </script>
</body>
</html>
