@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registracija";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<h5>
            <b>Molimo vas da proverite svoj email kako biste potvrdili svoju registraciju.</b><br>
            Ukoliko ne vidite poruku u prijemnom sandučetu, proverite i folder <i><b>"Spam"</b></i> ili <i><b>"Neželjena pošta (spam)"</b></i>, jer se email ponekad može tamo zateći.
</h5>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

