html {
    font-size: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #DB6A69;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navbar-brand img {
    height: 40px;
}

.btn-primary {
    background-color: #F67E7D;
    border-color: #F67E7D;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2px 8px 2px 8px;
    margin: 4px;
}

    .btn-primary:hover {
        background-color: #DB6A69;
        border-color: #F67E7D;
    }

.btn-outline-primary {
    background-color: transparent;
    border-color: #F67E7D;
    color: #F67E7D;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .btn-outline-primary:hover {
        background-color: #DB6A69;
        color: white;
        border: #F67E7D;
    }

.btn-secondary {
    background-color: white;
    color: black;
    border: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3px 10px 3px 10px;
    margin: 4px;
}
